[workspace]
resolver = "2"
members = ["kernel", "boot/*", "libs/rust/*", "apps/*"]

[workspace.package]
version = "0.0.0"
authors = ["Seiya Nuta <nuta@seiya.me>"]
edition = "2021"

[workspace.dependencies]
arrayvec = { version = "0.7.4", default-features = false }
hashbrown = "0.14.5"
spin = "0.9.8"
linked_list_allocator = "0.10.5"
serde = { version = "1.0.203", default-features = false }
serde_json = { version = "1.0.117", default-features = false, features = [
    "alloc",
] }
serde_yaml = "0.9.34"
fdt-rs = { version = "0.4.5", default-features = false }
smoltcp = { version = "0.11.0", default-features = false }
httparse = { version = "1.9.4", default-features = false }

anyhow = "1.0.86"
quote = "1.0.36"
syn = "2.0.66"
proc-macro2 = "1.0.85"
proc-macro-error = "1.0.4"
clap = "4.5.7"
minijinja = "2.0.2"
bytes = "1.6.0"
tempfile = "3.10.1"
walkdir = "2.5.0"

starina_kernel = { path = "kernel" }
starina_types = { path = "libs/rust/starina_types" }
starina_api = { path = "libs/rust/starina_api" }
starina_utils = { path = "libs/rust/starina_utils" }
starina_inlinedvec = { path = "libs/rust/inlinedvec" }
starina_bump_allocator = { path = "libs/rust/bump_allocator" }
starina_elf = { path = "libs/rust/elf" }
starina_virtio = { path = "libs/rust/virtio" }
starina_driver_utils = { path = "libs/rust/starina_driver_utils" }
starina_autogen = { path = "libs/rust/starina_autogen" }
